#wrapper {
    margin:20px 50px;
}

.row_selected {
    background-color: silver !important;
}

#action_btns {
    left:20px;
    top:15px;
    position:fixed;
    z-index:1000;
    background-color: #FFFFFF;
    padding:3px;
    border:1px solid #527BA3;
}

#add_update_form input {
    width:350px;
}

#right_menu {
    float:right;
    margin-bottom: 20px;
}

#right_menu a {
    text-decoration: underline;
    margin-right: 10px;
}

/* Add User page */

#user_cont {
    margin: 0px auto;
    width: 500x;
}

#add_user_message {
    color:red;
}